<template>
<tr>
	<td class="cart-name">{{name}}</td>
	<td>
		<img src="{{url}}" height="50px" width="50px">
	</td>
	<td class="cart-quantity">{{quantity}}</td>
	<td>
		<img src="http://www.iconninja.com/files/970/184/861/del-garbage-recycle-bin-empty-remove-trash-delete-blank-icon.png" height="30px"
		 width="25px" class="remove-cart" data-vid={{id}}>
	</td>
	<td>
		<img class="add-quantity" src="https://s3-ap-southeast-1.amazonaws.com/marquisa-development/general/guestadd.png" height="30px"
		 width="25px" data-vid={{id}}>
	</td>
	<td>
		<img class="subtract-quantity" src="https://s3-ap-southeast-1.amazonaws.com/marquisa-development/general/guestminus.png"
		 height="30px" width="25px" data-vid={{id}}>
	</td>
</tr>
</template>
